*{
    margin: 0;
    padding: 0;
} 
body{
     font-family: sans-serif;
}
.border{
       border-bottom: 1px solid #ddd ;
}
.navbar{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 80%;
    margin: 0 auto;
 
}
ul{
    display: flex;
    list-style: none;
}
ul > li {  
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}
li:hover{
background-color: rgb(239, 235, 235);
transition: all 200ms linear;
}
.active-li{
background-color: rgb(239, 235, 235);

}
p{  
    margin-top: 10px; 
    font-size: 2rem; 
}
a{
  text-decoration:  none;
  color: black;
  cursor: pointer;
}